html {
	background-color: Azure;
	}
header {
  text-align: center;
  font-family: 'PT Sans', sans-serif;
}
body {
	text-align: center;
	font-family: 'PT Sans', sans-serif;
	text-align: center;
	color: black;
}
#navi {
	text-align: center;
	padding-bottom:10px;
        padding-top:10px;
}

#navi ul {
    border:1px solid #ccc;
    border-width:1px 0;
    list-style-type: none;
    margin:0;
    padding:0;
}
#navi li {
     display: inline;
}
#navi li a{
    display: block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
}
#navi li a:hover {
    background-color: #FAFAD2;
}
.active {
    background-color: #E6E6FA;
    color:white;
}
img {
	width:100%;
	margin:0;
}
h1 {
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 3em;
	font-style: normal;
	font-variant: normal;
	font-weight: 600;
}
h3 {
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 2em;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
}
p {
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1em;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 1.5em;
}
ul li {
	font-family: 'PT Sans', sans-serif;
	text-align: center;
	list-style-type: none;
	margin-left: -3em;
	margin-right: -3em;
	padding: 0;
        overflow: hidden;
}
